In [1]:
%pip install pandas
%pip install 'SQLAlchemy==1.4.46'

Requirement already satisfied: pandas in c:\users\aliki\anaconda3\envs\nlpproject\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.22.4 in c:\users\aliki\anaconda3\envs\nlpproject\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aliki\anaconda3\envs\nlpproject\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aliki\anaconda3\envs\nlpproject\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\aliki\anaconda3\envs\nlpproject\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\aliki\anaconda3\envs\nlpproject\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: "'SQLAlchemy==1.4.46'"

In [15]:
import pandas as pd
import numpy as np

### First we need to upload the data from sql database

In [8]:
df_asylum = pd.read_sql_table('asylum_applications', 'sqlite:///../data/data.sqlite')
df_temp = pd.read_sql_table('global_temperature', 'sqlite:///../data/data.sqlite')

# Quick look for the data

In [10]:
df_asylum.head()

   Year Country of origin Country of asylum  applied
0  2006       Afghanistan         Australia       14
1  2006           Albania         Australia       21
2  2006           Algeria         Australia        5
3  2006             Egypt         Australia       38
4  2006           Bahrain         Australia       11

In [11]:
df_temp.head()

          dt  AverageTemperature Country  Year
0 2000-01-01               0.197   Åland  2000
1 2000-02-01              -0.023   Åland  2000
2 2000-03-01               0.615   Åland  2000
3 2000-04-01               4.124   Åland  2000
4 2000-05-01               8.557   Åland  2000

## We are checking for null or NaN values

In [27]:
df_asylum.isnull().sum()

Year                 0
Country of origin    0
Country of asylum    0
applied              0
dtype: int64

In [28]:
df_asylum.isna().sum()

Year                 0
Country of origin    0
Country of asylum    0
applied              0
dtype: int64

In [30]:
df_temp.isnull().sum()

dt                      0
AverageTemperature    468
Country                 0
Year                    0
dtype: int64

In [31]:
df_temp.isna().sum()

dt                      0
AverageTemperature    468
Country                 0
Year                    0
dtype: int64

### We dive into Null values in df_temp dataframe to understand the situation

In [35]:
df_temp[df_temp['AverageTemperature'].isna() == True]

              dt  AverageTemperature     Country  Year
1404  2000-01-01                 NaN  Antarctica  2000
1405  2000-02-01                 NaN  Antarctica  2000
1406  2000-03-01                 NaN  Antarctica  2000
1407  2000-04-01                 NaN  Antarctica  2000
1408  2000-05-01                 NaN  Antarctica  2000
...          ...                 ...         ...   ...
77371 2012-08-01                 NaN  Antarctica  2012
77372 2012-09-01                 NaN  Antarctica  2012
77373 2012-10-01                 NaN  Antarctica  2012
77374 2012-11-01                 NaN  Antarctica  2012
77375 2012-12-01                 NaN  Antarctica  2012

[468 rows x 4 columns]

#### It seems that NaN values occur only for the Antarctica.
Below we are checking if there is any other country that has the same issue.

In [36]:
df_temp[df_temp['AverageTemperature'].isna() == True]['Country'].unique()

array(['Antarctica'], dtype=object)

#### Since only Antarctica has NaN values and Antarctica is not very important for the project's sake we don't take further steps.

## Checking if we have the year range we wanted in both data

In [16]:
np.sort(df_asylum['Year'].unique())

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012], dtype=int64)

In [17]:
np.sort(df_temp['Year'].unique())

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012], dtype=int64)

## Getting the unique values in country columns

In [19]:
np.sort(df_asylum['Country of origin'].unique())

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Rep.', 'Chad', 'Chile', 'China',
       'China, Hong Kong SAR', 'China, Macao SAR', 'Colombia', 'Comoros',
       'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Cyprus', 'Czechia', "Dem. People's Rep. of Korea",
       'Dem. Rep. of the Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Rep.', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Rep. of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Dem. Rep.", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palestinian', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Rep. of Korea', 'Rep. of Moldova',
       'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia and Kosovo: S/RES/1244 (1999)', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Stateless', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syrian Arab Rep.', 'Tajikistan', 'Thailand',
       'Tibetan', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Rep. of Tanzania', 'United States of America', 'Unknown ',
       'Uruguay', 'Uzbekistan', 'Venezuela (Bolivarian Republic of)',
       'Viet Nam', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [20]:
np.sort(df_temp['Country'].unique())

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Anguilla', 'Antarctica',
       'Antigua And Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Asia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Baker Island', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bonaire, Saint Eustatius And Saba', 'Bosnia And Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands', 'Bulgaria',
       'Burkina Faso', 'Burma', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'Christmas Island', 'Colombia', 'Comoros', 'Congo',
       'Congo (Democratic Republic Of The)', 'Costa Rica', 'Croatia',
       'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic', "Côte D'Ivoire",
       'Denmark', 'Denmark (Europe)', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Europe',
       'Falkland Islands (Islas Malvinas)', 'Faroe Islands',
       'Federated States Of Micronesia', 'Fiji', 'Finland', 'France',
       'France (Europe)', 'French Guiana', 'French Polynesia',
       'French Southern And Antarctic Lands', 'Gabon', 'Gambia',
       'Gaza Strip', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea Bissau', 'Guyana', 'Haiti',
       'Heard Island And Mcdonald Islands', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Isle Of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kingman Reef',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macau', 'Macedonia', 'Madagascar', 'Malawi',
       'Malaysia', 'Mali', 'Malta', 'Martinique', 'Mauritania',
       'Mauritius', 'Mayotte', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Namibia',
       'Nepal', 'Netherlands', 'Netherlands (Europe)', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Korea', 'Northern Mariana Islands',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestina',
       'Palmyra Atoll', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Barthélemy',
       'Saint Kitts And Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre And Miquelon', 'Saint Vincent And The Grenadines',
       'Samoa', 'San Marino', 'Sao Tome And Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Africa', 'South America',
       'South Georgia And The South Sandwich Isla', 'South Korea',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
       'Svalbard And Jan Mayen', 'Swaziland', 'Sweden', 'Switzerland',
       'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor Leste', 'Togo', 'Tonga', 'Trinidad And Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks And Caicas Islands', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United Kingdom (Europe)', 'United States', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'Virgin Islands',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe', 'Åland'],
      dtype=object)

## Getting the country values both datasets share.
### We can work on these countries

In [25]:
country_intersect = np.intersect1d(ar1=df_asylum['Country of origin'].unique(), ar2=df_temp['Country'].unique())
country_intersect

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bhutan', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Denmark', 'Djibouti',
       'Dominica', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea',
       'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Madagascar', 'Malawi',
       'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norway', 'Oman', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Rwanda',
       'Saint Lucia', 'Samoa', 'San Marino', 'Saudi Arabia', 'Senegal',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Tajikistan',
       'Thailand', 'Togo', 'Tonga', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'Uruguay',
       'Uzbekistan', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

### Number of shared country values by both datasets

In [26]:
len(country_intersect)

154