In [9]:
%pip install pandas
%pip install 'SQLAlchemy==1.4.46'

Requirement already satisfied: pandas in c:\users\aliki\anaconda3\envs\nlpproject\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.22.4 in c:\users\aliki\anaconda3\envs\nlpproject\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aliki\anaconda3\envs\nlpproject\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aliki\anaconda3\envs\nlpproject\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\aliki\anaconda3\envs\nlpproject\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\aliki\anaconda3\envs\nlpproject\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: "'SQLAlchemy==1.4.46'"

In [18]:
import pandas as pd
import sqlalchemy

In [14]:
from sqlite3 import connect

con = connect('../data.sqlite')

In [ ]:
engine =

In [17]:
df = pd.read_sql('global_temperature', con)

DatabaseError: Execution failed on sql 'global_temperature': near "global_temperature": syntax error